[package]
name = "cpu-count"
version = "0.1.0"
description = "CPU Count"
license = "MIT"
edition = "2018"
exclude = ["index.node"]

[lib]
crate-type = ["cdylib"]

[dependencies]
num_cpus = "1"

[dependencies.neon]
version = "0.9"
default-features = false
features = ["napi-6"]
